@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
#root {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.bootcamp-container{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bootcamp-container-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
}

.bg-custom{
  background-image: url("/aboutImage2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-custom h1{
  color: white;
  font-size: 6rem;
  font-weight: 500;
}